@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

:root {
    font-family: 'Nanum Gothic', 'Nanum Gothic Bold', -apple-system, BlinkMacSystemFont, 
                'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕',
                sans-serif;
    font-weight: 700;
    font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#app {
    display: grid;
    height: 100vh;
    width: 100%;
}